*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kameron', serif;
}

body{
    background-color: #271D60;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    height: 15%;
    padding-left: 1%;
    padding-right: 1%;
    place-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction:row ;
    width: 19%;
    height: 100%;
    justify-content: center;
    place-items: center;
    gap: 18px;
    padding-top: 1%;
}

.circulo{
    display: flex;
    width: 35%;
    height: 100%;
    background-color:#4477C2;
    border-radius: 100%;
    place-items: center;
    justify-content: center;
}

#logo_clouds{
    width: 75px;
}

#nome{
    color: whitesmoke;
}

.pesquisar{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 35%;
    place-content: end;
}

#search-bar{
    width: 75%;
    height: 100%;
    border-radius: 25px;
    background-image: url(./img/searchicon.png);
    background-position: 95% ;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-color: whitesmoke;
    border-style: solid;
    background-color:transparent;
    border-width: 3px;
    border-style: solid;
    border-color: whitesmoke;
}
input{
    color: whitesmoke;
    font-size: medium;
    padding-left: 3%;
}
input::placeholder {
    color: whitesmoke;
    opacity: 65%;
    font-size: larger;
  }
#search-bar:focus{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    align-items: center;
    gap: 16px;

}

.grade{
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.clima_atual{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #54416D, #4477C2);
    border-radius: 50px;
    justify-items: center;
    padding-left: 5%;
    padding-top: 1%;
    position: relative;
}

#clima-semanal{
    opacity: 70%;
    cursor: pointer;
    transition: .3s;
}

/* hover nao esta funcionando... */

#clima-hora{
    color: whitesmoke;
    cursor:pointer ;
    opacity: 70%;
    transition: .3s;
}

.tipo-previsoes{
    display:flex ;
    flex-direction: row;
    gap: 8px;
    width: 10%;
    height: 8%;
    font-size: x-large;
    color: whitesmoke;
}

.localidade{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    gap: 2%;
    padding-top: 2%;
}
.localidade img{
    width: 30px;
}

.info_clima_atual{
    display: flex;
    flex-direction: column ;
    color: whitesmoke;
}
#temperatura{
    padding-top: 4%;
    font-size:90px;
}

#icon{
    position: absolute;
    right:15%;
    top:20%;
}

.condicao-ar{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, #54416D, #4477C2);
    border-radius: 50px;
    padding-left: 3.5%;
    padding-top: .8%;
    font-size: x-large;
    color: #2B235A;
}
#condicoes_do_ar{
    opacity: 70%;
    padding-left: 2%;
}

.aspectos{
    height: 75%;
    width: 80%;
    place-items: center;
    color: #2B235A;
    font-size: large;
    display: grid;
    grid-template-columns:280px 260px;
    grid-template-rows: 100px 100px;
    column-gap: 46px;
}

.aspectos div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.aspectos h1{
    color: whitesmoke;
    padding-left: 40px;
}

.previsao{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40%;
    background-color: #54416D;
    border-radius: 80px;
    padding-left: 15px;

}

.container{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

.previsoes_hora{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    place-items: center;
}

.tipo_previsao{
    display: flex;
    color: whitesmoke;
    opacity: 75%;
    font-size: x-large;
    margin-left: 6%;
    margin-top: 2%;
}

.horas{
    width: 15%;
    display: flex;
    flex-direction: column;
    place-items: center;
    color: whitesmoke;
    font-size: larger;
    transition: 0.3s;
}
.horas:hover{
    scale: 1.2;
}

.dias{
    width: 15%;
    display: flex;
    flex-direction: column;
    place-items: center;
    color: whitesmoke;
    font-size: larger;
}

footer{
    width:100% ;
    height: 15%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    justify-content: space-evenly;
}
#alert-button img{
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}
#alert-button:hover{
    scale: 1.2;
}

.alerta-mensagem{
    width: 45%;
    height: 100%;
    background-color: rgba(68,119,194, 0.6);
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    font-size: larger;
    display: none;
    text-align: justify;
}

/*responsivo - 1024px*/
@media (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kameron', serif;
    }
    
    .logo{
        display: flex;
        flex-direction:row ;
        width: 32%;
        height: 100%;
        justify-content: center;
        gap: 18px;
        padding-top: 1%;
    }

    #logo_clouds{
        width: 70px;
        height: 70px;
    }
    
    .circulo{
        display: flex;
        width: 75%;
        height: 90%;
        place-items: center;
    }
    
    #nome{
        color: whitesmoke;
        font-size: xx-large;
    }
    
    .pesquisar{
        display: flex;
        flex-direction: row;
        width: 35%;
        height: 35%;
        place-content: end;
    }
    
    #clima-semanal{
        opacity: 70%;
        cursor: pointer;
        transition: .3s;
        font-size: 22px;
    }
    
    /* hover nao esta funcionando... */
    
    #clima-hora{
        color: whitesmoke;
        cursor:pointer ;
        opacity: 70%;
        transition: .3s;
        font-size: 22px;
    }
    
    .localidade{
        padding-top: 4%;
        font-size: medium;
    }
    
    #icon{
        position: absolute;
        right:5%;
        top:35%;
        width: 140px;
    }
    
    .condicao-ar{
        display: flex;
        flex-direction: column;
        width: 52%;
        height: 100%;
        background: linear-gradient(to left, #54416D, #4477C2);
        border-radius: 50px;
        padding-top: .8%;
        padding-left: 0%;
        font-size: x-large;
        color: #2B235A;
    }
    #condicoes_do_ar{
        opacity: 70%;
        padding-left: 8%;
    }
    
    .aspectos{
        height: 10%;
        width: 100%;
        place-items: start;
        color: #2B235A;
        font-size: 14px;
        display: grid;
        grid-template-columns:250px 200px;
        grid-template-rows: 100px 100px;
        gap: 0px;
    }
    
    .aspectos div{
        display: flex;
        flex-direction: row;
        place-items: start;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        height: 100%;
        gap: 14px;
    }
    .aspectos h1{
        display: flex;
        font-size: 24px;
        height: 100%;
        color: whitesmoke;
        padding-left:0px;    
        margin-bottom: 15px;
        margin: 20px;
        margin-top: 0%;
    }
    
    .previsoes_hora{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 18px;
        place-items: center;
    }

    .horas{
        width: 15%;
        display: flex;
        flex-direction: column;
        place-items: center;
        color: whitesmoke;
        font-size: larger;
        transition: 0.3s;
    }
    .horas:hover{
        scale: 1.2;
    }
    
    .dias{
        width: 15%;
        display: flex;
        flex-direction: column;
        place-items: center;
        color: whitesmoke;
        font-size: larger;
    }
    
    footer{
        width:100% ;
        height: 15%;
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        justify-content: space-evenly;
    }
    #alert-button img{
        cursor: pointer;
        transition: 0.5s;
        display: flex;
    }
    #alert-button:hover{
        scale: 1.2;
    }
    
    .alerta-mensagem{
        width: 60%;
        height: 100%;
        background-color: rgba(68,119,194, 0.6);
        border-style: solid;
        border-color: whitesmoke;
        border-radius: 10px;
        color: whitesmoke;
        font-size: larger;
        display: none;
        text-align: justify;
    }
    
}

/*responsivo - ipadMini*/

@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kameron', serif;
    }

    .logo{
        display: flex;
        flex-direction:row ;
        width: 42%;
        height: 100%;
        justify-content: center;    
        gap: 18px;
        padding-top: 1%;
        padding-left: 2%;
    }

    #logo_clouds{
        width: 55px;
        height: 55px;
    }
    
    .circulo{
        display: flex;
        width: 65%;
        height: 55%;
        place-items: center;
    }
    
    #nome{
        color: whitesmoke;
        font-size: xx-large;
    }
    
    .pesquisar{
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 35%;
        place-content: end;
    }

    .grade{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .clima_atual{
        width: 100%;
        height: 45%;
    }

    .tipo-previsoes{
        padding-top: 2%;
    }

    #clima-semanal{
        opacity: 70%;
        cursor: pointer;
        transition: .3s;
        font-size: 22px;
    }
    
    /* hover nao esta funcionando... */
    
    #clima-hora{
        color: whitesmoke;
        cursor:pointer ;
        opacity: 70%;
        transition: .3s;
        font-size: 22px;
    }
    
    .localidade{
        padding-top: 5%;
        font-size: 15px;
    }
    
    #icon{
        position: absolute;
        right:10%;
        top:25%;
        width: 150px;
    }

    #temperatura{
        font-size: 70px;
    }

    #chuva{
        opacity: 75%;
        font-size:medium;
    }
    
    .condicao-ar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 48%;
        background: linear-gradient(to left, #54416D, #4477C2);
        border-radius: 50px;
        padding-top: .8%;
        padding-left: 0%;
        font-size: x-large;
        color: #2B235A;
    }
    #condicoes_do_ar{
        opacity: 70%;
        padding-left: 8%;
        padding-bottom: 2%;
    }
    
    .aspectos{
        height: 10%;
        width: 100%;
        place-items: start;
        color: #2B235A;
        font-size: 20px;
        display: grid;
        grid-template-columns:250px 200px;
        grid-template-rows: 100px 100px;
        gap: 0px;
        column-gap: 15%;
        padding-left: 2%;
    }
    
    .aspectos div{
        display: flex;
        flex-direction: row;
        place-items: start;
        flex-wrap: wrap;
        width: 150%;
        height: 100%;
        gap: 7%;
        padding-left: 8%;
    }
    .aspectos h1{
        display: flex;
        font-size: 32px;
        color: whitesmoke;
        padding-left:0px;    
        margin-bottom: 15px;
        margin-top: 0%;
    }

    main{
        height: 70%;
    }
    
    .previsao{
        height: 60%;
    }

    .previsoes_hora{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 12px;
        place-items: center;
        padding-left: 5%;
    }
    
    .horas{
        width: 15%;
        display: flex;
        flex-direction: column;
        place-items: center;
        color: whitesmoke;
        font-size: larger;
        transition: 0.3s;
    }
    .horas:hover{
        scale: 1.2;
    }
    
    .dias{
        width: 20%;
        display: flex;
        flex-direction: column;
        place-items: center;
        color: whitesmoke;
        font-size: larger;
    }
    
    footer{
        width:100% ;
        height: 10%;
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        justify-content: space-evenly;
        place-items: center;
        padding-top: 5%;
    }
    #alert-button img{
        cursor: pointer;
        transition: 0.5s;
        display: flex;
        width: 5%;
    }
    #alert-button:hover{
        scale: 1.2;
    }
    
    .alerta-mensagem{
        width: 60%;
        height: 80%;
        background-color: rgba(68,119,194, 0.6);
        border-style: solid;
        border-color: whitesmoke;
        border-radius: 10px;
        color: whitesmoke;
        font-size: larger;
        display: none;
        text-align: justify;
    }
    
}

/*responsivo - Samsung S20*/

@media (max-width: 412px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kameron', serif;
    }

    html{
        overflow: hidden;
    }

    body{
        overflow: hidden;
        width: 412px;
        height: 915px;
    }

    .logo{
        display: flex;
        flex-direction:row ;
        width: 35%;
        height: 100%;
        justify-content: center;    
        gap: 18px;
        padding-top: 1%;
        padding-left: 2%;
    }

    #logo_clouds{
        width: 55px;
        height: 55px;
    }
    
    .circulo{
        display: flex;
        width: 65%;
        height: 55%;
        place-items: center;
    }
    
    #nome{
        color: whitesmoke;
        font-size: xx-large;
    }
    
    .pesquisar{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 35%;
        place-content: end;
    }

    main{
        height: 55%;
    }
    .grade{
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .clima_atual{
        width: 100%;
        height: 55%;
        position: relative; 
        place-items: center;
        padding: 0%;
    }

    .clima_atual_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        place-items: center;
        color: whitesmoke;
        font-size: 14px;
        width: 100%;
        gap: 25%;
        height: 100%;
        padding: 0%;
    }

    
    .localidade{
        font-size: 15px;
        text-align: center;
        padding-bottom: 8%;
    }
    
    #icon{
        position: absolute;
        left: 24%;
        top:15%;
        width: 170px;
    }
    
    #temperatura{
        font-size: 70px;
        place-self: center;
    }
    
    #chuva{
        opacity: 75%;
        font-size:medium;
        place-self: center;
    }
    
    .condicao-ar{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 28%;
        background: linear-gradient(to left, #54416D, #4477C2);
        border-radius: 50px;
        font-size: medium;
        color: #2B235A;
    }
    
    .aspectos{
        height: 100%;
        width: 100%;
        color: #2B235A;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    
    
    
    footer{
        width:100% ;
        height: 35%;
        display: flex;
        flex-direction: row;
        padding-left: 0%;
        justify-content: space-evenly;
        place-items: center;
    }
    
    .previsao{
        height: 100%;
        width: 100%;
        background-color: transparent;
        overflow: hidden;
        border-radius: 0%;
    }
    
    .previsoes_hora{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding-left: 0%;
    }
    
    .horas{
        width: 60%;
        height: 55%;
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        font-size: larger;
        transition: 0.3s;
        background-color:#8fdfff75;
        border-radius: 10%;
    }

    #clima-semanal{
        opacity: 70%;
        cursor: pointer;
        transition: .3s;
        font-size: 22px;
    }
    
    #clima-hora{
        cursor:pointer ;
        opacity: 70%;
        transition: .3s;
        font-size: 22px;
    }
    .horas:hover{
        scale: 1.2;
    }
    
    .dias{
        width: 60%;
        height: 55%;
        display: flex;
        flex-direction: column;
        place-items: center;
        color: whitesmoke;
        font-size: larger;
        background-color: #8fdfff75;
        border-radius: 10%;
        transition: 0.3s;
    }
    .dias:hover{
        scale: 1.2;
    }

    #alert-button img{
        cursor: pointer;
        transition: 0.5s;
        display: flex;
        width: 5%;
    }

    #alert-button:hover{
        scale: 1.2;
    }
    
    .alerta-mensagem{
        width: 60%;
        height: 80%;
        background-color: rgba(68,119,194, 0.6);
        border-style: solid;
        border-color: whitesmoke;
        border-radius: 10px;
        color: whitesmoke;
        font-size: larger;
        display: none;
        text-align: justify;
    }
}
